# Make a copy of this sample file named "application-local.properties" for local development.

igniter.user.format=EVENTBRITE

igniter.active-integrations=gitHub,slack
igniter.team-prefix=2019_team
igniter.team-number=2

igniter.github.client-id=
igniter.github.secret-key=
igniter.github.oauth-key=
igniter.github.org-name=
igniter.github.prefix=

igniter.slack.client-id=
igniter.slack.client-secret=
igniter.slack.oauth-key=