# Make a copy of this sample file named "application-local.properties" for local development.

igniter.github.enabled=
igniter.github.oauth-key=
igniter.github.org-name=

igniter.slack.enabled=
igniter.slack.oauth-key=